@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
}
h1{
    text-align: center;
    margin-block-start: 1rem;
    font-size: 3rem;
}

.example{
    margin: 1rem;
    padding: 20px;
    border: 1px solid rgb(180, 177, 177);
}

.example p{
    font-size: 1.1rem;
    max-width: 400px;
}

.example img{
    width: 25%; /*25% of container size not image size*/
    height: auto;
    display: block;
    margin-right: 1.5rem;
}

.content-container{
    display: flex;
}

.container{
    background-color: rgb(111, 191, 228);
    background-image: url("https://picsum.photos/seed/42/800");
    background-size: cover;
    background-position: center;
    background-position: top;
}

.hero{
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgba(240, 248, 255, 0.452);
}

.h1{
    font-size: 500%;
    color: white;
    text-shadow: 1px 2px 5px rgb(1, 16, 66);
}

.profile-pic-figure{
    width: 35%;
}

.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double rgba(8, 49, 102, 0.719);
    border-radius: 50%;
}

/*Utility Classes*/
.nowrap{
    white-space: nowrap;
}

.offscreen{
    position: absolute;
    left: -1000000px;
}
/*End Utility Classes*/

