@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    padding: 100px;
}

.paragraph-colored p{
    background-color: lightblue;
}

#first-paragraph {
    background-color: rgb(222, 245, 253);
}

.opposite{
    display: inline-block;
    background-color: goldenrod;
    color: white;
    height: 300px;
    margin-top: 100px;
    padding: 4rem;
}

nav ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: rgb(46, 45, 45);
    margin: 0;
}

nav li{
    display: inline-block;
    margin-inline: 0.5rem;
}

nav li a{
    color: white;
    text-decoration: none;
}
nav li a:hover, li a:focus{
    color: white;
    text-decoration: underline;
}

.display-types-list{
    margin: 30px;
}

.display-types-list ul{
    list-style-type: none;
    line-height: 1.5em;
}

.box {
    background-color: #333;
    width: 30%;
}

.box p{
    margin: 100px 50px;
}

.opposite-inline{
    background-color: goldenrod;
    color: whitesmoke;
    padding: 2rem;
}

.opposite-block{
    display: block;
    background-color: goldenrod;
    color: whitesmoke;
}

h2{
    margin-top: 50px;
}

p{
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.home{
    margin-top: 50px;
    border: 2px solid rgb(119, 117, 117);
    text-align: center;
}

.home a{
    display: block;
    color: rgb(126, 125, 134);
    text-decoration: none;
}

.home a:hover, a:focus{
    color: white;
    background-color: #b6b6b6;
}

.home a:active{
    color: white;
    background-color: rgb(119, 117, 117);
}