body{
    min-height: 100vh;
}
.container{
    max-width: 600px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid var(--iron);
    line-height: 1;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center; 
    align-content: flex-start;  
    padding: 1rem;
    margin: 1rem auto;
    overflow: visible;
}

#container-1{
    flex-wrap: wrap;
}

#container-1 .box{
    min-width: 100px;
}

.box{
    min-height: 100px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 2rem;
    padding: 0.5rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-5, #box-6{
    background-color: rgb(158, 46, 46);
}

#container-2 .box{
    flex-basis: 100px;
}

#box-8{
    flex-grow: 2;
    background-color: rgb(250, 173, 31);
}

#box-9{
    flex-shrink: 2;
    background-color: rgb(182, 252, 77);
}
