body{
    min-height: 100vh;
}

.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid var(--iron);
    line-height: 1;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    align-content: flex-start;  
    padding: 1rem;
    margin: 1rem;
}

.box{
    min-width: 100px;
    min-height: 100px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 2rem;
    padding: 0.5rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-5, #box-6{
    background-color: rgb(158, 46, 46);
}

.box-2{
    min-height: 100px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 2rem;
    padding: 0.5rem;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 50px;
    flex-grow: 0.4;
}
