article{
    min-height: 95vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

section{
    min-height: 100%;
    margin: 10px 0;
}
.local, .video, .others{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(50px, auto);
    gap: 5px;
}
.local a,
.local a:visited{
    color: orange;
    border-color: orange;
}


.local a:hover,
.local a:focus{
    background-color: orange;
    color: white;
}
.video a,
.video a:visited{
    color: purple;
    border-color: purple;
}


.video a:hover,
.video a:focus{
    background-color: purple;
    color: white;
}
