section{
    padding: 20px;
}


h2, h3{
    margin-block-start: 0;
    text-transform: capitalize;
}
h2{
    color: rgb(66, 120, 168);
    font-size: 1.1rem;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

h3{
    font-size: 1rem;
}

#inner-list li{
    list-style-type: square;
}

.container{
    max-width: 600px;
    margin: 20px auto;
    display: grid;
    gap: 5px;
}

#section-1 .container{
    grid-auto-flow: column;
}

#section-2 .container{
    grid-template-columns: repeat(3, 1fr);
}
#section-3 .container{
    grid-template-columns: repeat(2, 2fr 1fr);
}
#section-4 .container{
    grid-template-columns: repeat(2, 2fr 1fr);
    min-height: 300px;
    grid-auto-rows: minmax(100px, auto);
}

#section-5 .container{
    grid-template-columns: repeat(2, 2fr 1fr);
}

#section-6 .container{
    grid-template-columns: repeat(2, 2fr 1fr);
}

#section-5 .box:first-child{
    background-color: rgb(179, 20, 20);
    grid-column-start: 1;
    grid-column-end: 4;
}

#section-6 .box:first-child{
    background-color: rgb(190, 218, 37);
    grid-column: 1 / 4; 
    grid-row-start: 1;
    grid-row-end: 3;
}

.box{
    background-color: var(--mid-blue);
    color: white;
    font-size: 1.2em;
    padding: 0.4em;
    border-radius: 10px;
}
