:root{
    --content-width: 500px;
    --distance-left: 50px;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--iron);
    color:var(--white);
    font-family:  Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: fit-content;
    width: var(--content-width);
    min-height: min-content;
    overflow: visible;
    position: relative;
    margin: 0;
    padding: 0;
}

main{
    max-width: var(--content-width);
    box-sizing: border-box;
    padding: 20px var(--distance-left);
}

footer{
    position: fixed;
    bottom: 0;   
    width: 100%;
    max-width: var(--content-width);
    margin: auto var(--distance-left);
}

img{
    display: block; 
    border-radius: 20px;
}

p{
    line-height: 1.5;
}

h1{
    color: var(--cofe-brown);
    font-size: 1.6em;
}


.img-card{
    position: relative; 
    display: inline-block;
}

.text-card{
    border: 1px solid var(--white); 
    padding: 20px; 
}

.card{
    margin-bottom: 20px;
}

.info{
    background-color: var(--white);
    color: var(--neu-gold);
    font-family: cursive; 
    font-weight: bold; 
    letter-spacing: 2px; 
    width: 50px; 
    height: 30px; 
    position: absolute;
    top: 0; 
    right: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0 0 0 10px;
}