body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.5;
}

ul,
ol {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  margin: 2rem 0;
}

.container-lists {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.container-lists ul {
  list-style-type: square;
}

.wrapper {
  display: flex;
  flex: 1 1 min(400px, 100%);
  justify-content: space-around;
}

.code-block {
  margin-bottom: 2rem;
}

.code-block .code-line:not(:first-child, :last-child) {
  padding-inline-start: 2rem;
}

#second-child li:nth-child(2) {
  color: red;
}
#odd li:nth-child(odd) {
  color: orange;
}
#green-hooks {
  list-style-image: url("../assets/img/green.png");
}
#only-5-dollars ::marker {
  color: red;
  content: "Only $5 >> ";
  font-family: fantasy;
  line-height: 2em;
}

@media screen and (max-width: 800px) {
  .wrapper {
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
