/* FONTS: Delius + Nunito + Ribeye Marrow*/
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Nunito&family=Ribeye+Marrow&display=swap");
:root {
  --menu-border-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  background-color: rgb(36, 36, 36);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  gap: 1rem;
  font-family: "Ribeye Marrow", serif;
}

.header__h1 {
  font-size: clamp(2em, 5vw, 3.5em);
}

.main {
  background-color: aliceblue;
  background: linear-gradient(to top, aliceblue, 40%, rgb(56, 150, 231));
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-color: #242424;
  color: white;
  min-height: 10vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8em, 2vw, 1em);
}

.logo img {
  width: 50px;
  height: auto;
  transform: translateY(2px);
  cursor: pointer;
}

.logo:active {
  transform: rotateZ(-45deg);
}

.game-field {
  width: clamp(250px, 80vw, 750px);
  height: clamp(250px, 80vw, 750px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6rem;
  margin: 20px auto;
  display: none;
}

.screenOff {
  display: none;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card:active {
  transform: scale(0.97);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.397);
  backface-visibility: hidden;
  transition: transform 1s;
}

.card .front {
  background-color: white;
  background-image: url("../assets/img/memory/memory-icon.png");
}

.card .back {
  background-color: rgb(41, 40, 40);
  transform: rotateY(180deg);
}

.card.flip .front {
  transform: rotateY(180deg);
}

.card.flip .back {
  transform: rotateY(0);
}

a:any-link {
  color: grey;
}

a {
  text-decoration: none;
}

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  border: 3px solid #eeeeee;
  border-radius: var(--menu-border-radius);
  margin: 0 auto;
  width: clamp(250px, 80vw, 500px);
  height: clamp(400px, 60vh, 700px);
  /* background-color: rgba(255, 255, 255, 0.233); */
  background: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 0.5),
    85%,
    rgba(128, 36, 247, 0.356)
  );
  backdrop-filter: blur(20px);
}

.menu-options button {
  font-size: clamp(0.5em, 8vw, 36px);
  text-shadow: 1px 1px 1px black;
}
.menu-btn {
  border: none;
  width: 100%;
  max-height: 98%;
  cursor: pointer;
  color: white;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.game-menu__h2 {
  color: white;
  font-family: "Ribeye Marrow", serif;
  font-family: "Delius", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(1em, 10vw, 48px);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.856);
}

ul.menu-options {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2px;
  width: 100%;
  height: 100%;
}

ul.menu-options li {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 90%;
  height: 100%;
}

ul.menu-options li button {
  border: 2px solid white;
  height: 90%;
}

ul.menu-options li:last-of-type button {
  border-bottom-left-radius: var(--menu-border-radius);
  border-bottom-right-radius: var(--menu-border-radius);
}

ul.menu-options li:first-of-type button {
  border-top-left-radius: var(--menu-border-radius);
  border-top-right-radius: var(--menu-border-radius);
}

:is(#new-game, #help, #options, #credits):hover {
  filter: saturate(1.5);
  transform: scaleX(1.05);
}

button[disabled] {
  opacity: 0.6;
  background-color: rgba(128, 128, 128, 0.795);
  text-decoration: line-through;
  pointer-events: none;
}

:is(#new-game, #help, #options, #credits) {
  backdrop-filter: brightness(0.95);
}

#new-game {
  background-color: #e97187;
}
#help {
  background-color: #fcd47e;
}
#options {
  background-color: #61d3a5;
}
#credits {
  background-color: #61acf2;
}

.nowrap {
  white-space: nowrap;
}
