/* FONTS: Nunito + Ribeye Marrow*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ribeye+Marrow&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
button {
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  background-color: rgb(36, 36, 36);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  gap: 1rem;
  font-family: "Ribeye Marrow", serif;
}

.header__h1 {
  font-size: clamp(2em, 5vw, 3.5em);
}

.main {
  background-color: aliceblue;
  background: linear-gradient(to top, aliceblue, rgb(82, 159, 228));
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-color: #242424;
  color: white;
  min-height: 10vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8em, 2vw, 1em);
}

.logo img {
  width: 50px;
  height: auto;
  transform: translateY(2px);
  cursor: pointer;
}

.logo:active {
  transform: rotateZ(-45deg);
}

.game-field {
  width: clamp(250px, 80vw, 750px);
  height: clamp(250px, 80vw, 750px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6rem;
  margin: 20px auto;
  display: none;
}

.screenOff {
  display: none;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card:active {
  transform: scale(0.97);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.397);
  backface-visibility: hidden;
  transition: transform 1s;
}

.card .front {
  background-color: white;
  background-image: url("../assets/img/memory/memory-icon.png");
}

.card .back {
  background-color: rgb(41, 40, 40);
  transform: rotateY(180deg);
}

.card.flip .front {
  transform: rotateY(180deg);
}

.card.flip .back {
  transform: rotateY(0);
}

a:any-link {
  color: grey;
}

a {
  text-decoration: none;
}

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 3vw;
  border: 2px solid #eeeeee;
  border-radius: 0.5rem;
  margin: 0 auto;
  width: clamp(250px, 80vw, 500px);
  height: clamp(300px, 50vh, 500px);
  background-color: rgba(255, 255, 255, 0.233);
}

.game-menu,
button {
  font-family: "Ribeye Marrow", serif;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1em, 1.5em, 32px);
}

.game-menu__h2 {
  color: white;
  font-size: 2em;
  margin-block-end: 1vh;
}

ul.menu-options {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.2em;
  width: 100%;
  height: 100%;
  margin: 1em;
}

ul.menu-options li {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ul.menu-options li button {
  border: 2px solid white;
}

.menu-btn {
  border: none;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  color: white;
}

ul.menu-options li:last-of-type button {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

ul.menu-options li:first-of-type button {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

:is(#new-game, #continue, #options, #credits):hover {
  filter: saturate(1.5);
}

button[disabled] {
  opacity: 0.6;
  background-color: rgba(128, 128, 128, 0.795);
  text-decoration: line-through;
  pointer-events: none;
}

:is(#new-game, #continue, #options, #credits) {
  filter: brightness(0.9);
}

#new-game {
  background-color: #e97187;
}
#continue {
  background-color: #f2cd7c;
}
#options {
  background-color: #61d3a5;
}
#credits {
  background-color: #61acf2;
}
