@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* Colors */
  --bg-main: #fff9df;
  --border-color: #333;
  --text-color: #333;
  --hover-bg: #333;
  --hover-text: #fcfaf2;
  --menu-header: gold;
  --menu-list: #fcfaf2;
  --hyperlink: #d88c00;
  --hyperlink-hover: #f5d95e;

  --border-radius-btm: 0 0 2rem 2rem;
  --border-radius-top: 2rem 2rem 0 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: var(--bg-main);
  overflow: auto;
  padding: 4rem;
}

main nav {
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  margin: 0 auto;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
  padding: 0;
}

h2 {
  padding: 1rem;
  background-color: var(--menu-header);
  border-radius: var(--border-radius-top);
  color: var(--text-color);
  margin-left: 0;
  margin-block: 0;
}

ul {
  list-style-type: none;
}

ul,
ol {
  margin-left: 0;
}

li {
  border-top: 1px solid var(--border-color);
}

li a {
  display: block;
  background-color: var(--menu-list);
}

li a,
li a:visited {
  text-decoration: none;
  color: var(--hover-bg);
}

li a:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
  cursor: pointer;
}

li:last-child a {
  border-radius: var(--border-radius-btm);
}

.hyperlink a {
  text-decoration: none;
  color: var(--hyperlink);
  font-weight: bolder;
}
.hyperlink a:hover {
  text-decoration: none;
  color: var(--hyperlink-hover);
  font-weight: bolder;
}

.hyperlink {
  margin-top: 10px;
}
