:root {
  --white: #e0e0e0;
  --black: #1d1d1d;
  --red: #d82404;
  --yellow: #f7d515;
  --blue: #508bda;
  --green: #11bb6b;
  --orange: #ff8801;
  --transparent: transparent;

  --home-filter: #082e6831;
}

/* Text Colors */
.tx-white * {
  color: var(--white);
}

.tx-black * {
  color: var(--black);
}

/* BG Colors */
.bg-black {
  background-color: var(--black);
}

.bg-transparent {
  background-color: var(--transparent);
}

.home-filter {
  background-color: var(--home-filter);
}

/* First Letter Colors */
:is(.websiteOwnerName, .logo).red span::first-letter {
  color: var(--red);
}
:is(.websiteOwnerName, .logo).yellow ::first-letter {
  color: var(--yellow);
}
:is(.websiteOwnerName, .logo).blue ::first-letter {
  color: var(--blue);
}
:is(.websiteOwnerName, .logo).green ::first-letter {
  color: var(--green);
}
:is(.websiteOwnerName, .logo).orange ::first-letter {
  color: var(--orange);
}

.button.red {
  background: linear-gradient(var(--red), 60%, #832818);
}
#btn-to-projects.yellow {
  background: linear-gradient(var(--yellow), #a18901);
}
:is(#btn-to-projects).yellow *,
.orange * {
  color: white;
}
#btn-to-projects.blue {
  background-color: var(--blue);
  background: linear-gradient(var(--blue), #2d60a1);
}
#btn-to-projects.green {
  background-color: var(--green);
  background: linear-gradient(var(--green), 60%, #05864a);
}
#btn-to-projects.orange {
  background-color: var(--orange);
  background: linear-gradient(var(--orange), #854a06);
}
