@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Protest+Revolution&display=swap");

:root {
  /* Colors */
  --text-color-1: rgb(240, 240, 240);
  --text-color-2: black;

  /* BTN Projects */
  /* grey */
  --home-btn-color: linear-gradient(rgb(133, 133, 133), rgb(37, 37, 37));
  --home-btn-color-active: linear-gradient(rgb(110, 110, 110), rgb(32, 32, 32));
  --home-btn-border: rgba(241, 238, 238, 0.336);
  --home-btn-border-b: rgb(73, 73, 73);

  /* orange */
  --home-btn-color: linear-gradient(rgb(133, 133, 133), rgb(37, 37, 37));
  --home-btn-color-active: linear-gradient(rgb(110, 110, 110), rgb(32, 32, 32));
  --home-btn-border: rgba(241, 238, 238, 0.336);
  --home-btn-border-b: rgb(73, 73, 73);

  --header-border-color: rgb(136, 136, 136);

  /* Shadows */
  --home-text-shadow: 2px 1px 1px rgba(34, 34, 34, 0.966);

  --portfolio-text-shadow: 1px 3px 1px rgba(228, 227, 227, 0.678),
    3px 2px 2px rgb(119, 119, 119);

  /* Images */
  --home-bg-image: url("/assets/img/Alex/code.png");
}

/* Fonts */
.lugrasimo-regular {
  font-family: "Lugrasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", serif;
  font-weight: 400;
  font-style: normal;
}

/* Texts */
p {
  text-align: justify;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.button {
  border-radius: 20px;
  padding: 10px 20px;
  max-width: fit-content;
  border: none;
  cursor: pointer;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  position: relative;
}

/* Header */
header {
  display: flex;
  align-items: center;
  width: 100%;
  text-shadow: var(--home-text-shadow);
  border-bottom: 2px solid var(--header-border-color);
  z-index: 4;
  position: fixed;
}

.logo {
  display: none;
}

nav {
  display: flex;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: clamp(12px, 4vw, 100%);
  transition: 0.5s ease-out;
  transform: scale(0.9);
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline: 0;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
}

/* Section Home */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--home-bg-image);
  background-size: cover;
  background-position: center;
}

.home-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  transition: 1s ease-in;
  z-index: 3;
  margin-top: 50px;
  transform: scale(0.9);
}

.welcome-text h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.websiteOwnerName {
  letter-spacing: 1px;
}

/* Button: go to projects */
#btn-to-projects {
  display: none;
  font-weight: 500;
  text-transform: uppercase;
  transition: 1s ease-out;
}

#btn-to-projects:active {
  background: var(--home-btn-color-active);
}

/* Footer */
.footer {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Responsive */

@media screen and (min-width: 500px) {
  nav {
    transform: scale(1);
  }
  .home {
    justify-content: center;
    align-items: flex-start;
  }

  .welcome-text {
    gap: 10px 0;
    padding-left: 10%;
    justify-content: center;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 950px) {
  header {
    justify-content: space-evenly;
  }

  nav {
    max-width: 50%;
  }

  ul {
    justify-content: center;
    gap: 2em;
  }

  .logo {
    display: flex;
  }
}

@media screen and (min-height: 600px) {
  #btn-to-projects {
    display: block;
    background: var(--home-btn-color);
    border: 1px solid var(--home-btn-border);
    border-bottom: 1px solid var(--home-btn-border-b);
    position: absolute;
    bottom: clamp(40px, 15%, 100px);
    align-self: center;
    z-index: 3;
    transition: 2s ease-out;
  }

  nav {
    padding: 40px 0;
  }

  */ .welcome-text h1 {
    font-size: clamp(4em, 600%, 1dvw);
  }

  .welcome-text::before {
    display: flex;
    content: "This is...";
    font-size: 1.2em;
  }
}

/* Utils */
span {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}

.display-none {
  display: none;
}
