:root {
  --text-color: #333;
  --border-color: #333;
  --box-text-color: rgb(248, 248, 248);
  --inner-container-bg: rgb(32, 31, 31);
  --light-blue: #cee5ff;
  --box-color-static: rgba(148, 148, 153, 0.63);
  --box-color-absolute: rgb(10, 81, 161);
  --box-color-relative: rgb(190, 45, 9);
  --box-color-fixed: rgb(22, 197, 22);
  --box-color-sticky: rgb(255, 217, 0);
}

body {
  min-height: 200dvh;
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}

.outer-container {
  background-color: var(--light-blue);
  border: 3px dashed var(--iron);
  margin: 40px auto;
  width: 75vw;
  max-width: 100%;
  position: relative;
}
.inner-container {
  border: 2px solid var(--iron);
  width: 40vw;
  min-width: 250px;
  height: 50vh;
  margin: 200px auto;
  background-color: var(--inner-container-bg);
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: grid;
  place-content: center;

  border-radius: 5px;
  h3 {
    color: var(--box-text-color);
    font-size: 0.8em;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #333;
  }
}

.static {
  background-color: var(--box-color-static);
}

.absolute {
  background-color: var(--box-color-absolute);
  position: absolute;
  left: 0;
  bottom: 0;
}

.relative {
  background-color: var(--box-color-relative);
  position: relative;
  top: 50px;
  left: 200px;
}

.fixed {
  background-color: var(--box-color-fixed);
  position: fixed;
  top: 300px;
  right: 150px;
}

.sticky {
  background-color: var(--box-color-sticky);
  position: sticky;
  top: 0;
  margin-left: auto;
  margin-right: 10px;
  z-index: 2;
}
