:root {
  --text-color: #333;
  --border-color: #353434;
  --box-text-color: #ffffff;
  --box-outline-color: #ececec;
  --box-border-color: #070707;
  --inner-container-bg: rgb(56, 56, 56);
  --outer-container-bg: #cee5ff;
  --box-color-static: #949499a1;
  --box-color-absolute: #0a51a1;
  --box-color-relative: #be2d09;
  --box-color-fixed: #16c516;
  --box-color-sticky: #ffc400;
}

body {
  min-height: 200dvh;
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.outer-container {
  background-color: var(--outer-container-bg);
  border: 3px dashed var(--border-color);
  width: 100%;
  position: relative;
}
.inner-container {
  margin: 50px auto;
  width: clamp(320px, 30vw, 500px);
  height: 50vh;
  background-color: var(--inner-container-bg);
  padding: 10px;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  border-radius: 5px;
  border: 1px solid var(--box-border-color);
  box-sizing: border-box;
  outline: 1px solid var(--box-outline-color);
  outline-offset: -7px;
  p {
    color: var(--box-text-color);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.static {
  background-color: var(--box-color-static);
}

.absolute {
  background-color: var(--box-color-absolute);
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.relative {
  background-color: var(--box-color-relative);
  position: relative;
  top: 50px;
  left: 200px;
}

.fixed {
  background-color: var(--box-color-fixed);
  position: fixed;
  top: 300px;
  right: 150px;
}

.sticky {
  background-color: var(--box-color-sticky);
  position: sticky;
  top: 10px;
  margin-left: auto;
}
